body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  background-color: #121212;
}

.sidenav {
  align-items: center;
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1E1E1E;
  overflow-x: hidden;
  padding-top: 75px;
  margin-left: 70px;
  margin-right: 100px;
  margin-top: 0px;
  border: 10px solid;
  border-image: linear-gradient(to bottom, #1E1E1E, #121212) 1;
}

.sidenav img {
  width: 75%;
}

.sidenav a {
  padding: 6px 6px 30px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #d3d3d3;
  display: block;
  filter: brightness(0.8);
  transition: 0.2s;
}

.sidenav a:hover {
  filter: brightness(1.75);
}

.active img {
  filter: brightness(2);
}


.main {
  margin-left: 290px;
  margin-top: 100px;
  color: #d3d3d3;
  width: 1500px;
  height: 820px;
}

.container {
  display: flex;
}

.moodenter {
  border: 0px;
  border-radius: 25px;
  height: 50px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 90%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 30px;
  outline: none;
  background-color: #d3d3d3;
  margin-right: 10px;

}

.subbtn {
  width: 10%;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 0px;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #49b51f;
  height: 48px;

  :hover {
    filter: brightness(1.75);
  }

}

.analytics_container {
  width: 100%;
  height: 60%;
  background-color: #121212;
  display: flex;
}

.pie {
  width: 40%;
}

.count {
  background-color: #1E1E1E;
  width: 60%;
  border: solid 8px transparent;
  border-radius: 80px;
  display: grid;
  background-image: linear-gradient(#1E1E1E, #1E1E1E), linear-gradient(to bottom, #1E1E1E, #121212);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.counts {
  display: flex;
  margin-bottom: -60px;
}

.health-meter {
  padding: 0px 0px 10px 70px;
  display: flexbox;
  width: 83.5%;
}

.card {
  background-color: none;
  padding: 70px 0px 10px 70px;
  display: flexbox;
  width: 22.5%;
  height: 60%;
  height: 45%;
}

.count-icon {
  width: 60px;
  margin-left: -5px;
}

.count-text {
  font-size: 25px;
  line-height: 0px;
  font-weight: bolder;
  font-style: normal;
  margin-top: 30px;
}

.count-count {
  font-size: 18px;
  line-height: 0px;
  font-weight: lighter;
  margin-top: -12px;

}

.pbbg {
  background-color: #282828;
  width: 100%;
  height: 3%;
  border-radius: 80px;
}

.pb {
  background-color: #49b51f;
  height: 100%;
  border-radius: 80px;
}

.choose {
  width: 100%;
  height: 20%;
  background-color: #121212;
  display: flex;
}

.choose-card {
  height: 120%;
  width: 33%;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom, #1E1E1E, #121212);
  ;
  border: #121212 solid 9px;
  border-radius: 40px 40px 0px 0px;
  padding: 60px 0px 0px 1px;
  transition: 1s;
  margin-top: 5px;
}

.choose-card a {
  background-color: transparent;
  outline: none;
  border: none;
}

.choose-card:hover {
  translate: 0 -5px;
}

#formFrame {
  margin-top: 200px;
}

.choose-card img {
  height: 70px;
}


.main-entry {
  width: 100%;
  height: 20%;
  text-align: center;
  color: #d3d3d3;
}

.date-pick {
  background-color: #1E1E1E;
  color: white;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.subbtnentry {
  width: 40px;
  height: 30px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 0px;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 20;
  text-align: center;
  padding: 5px;
  color: #fff;
  background-color: #49b51f;

  :hover {
    filter: brightness(1.75);
  }

}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}